.bg-first{
    /* ; */
    height: 35vh;
    width: 100vw;
}
.image-logo{
    border-radius: 50%;
}
.vikash{
    text-align: center;
    
}
.hower:hover{
    background-color: brown;
}
.video-background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
  }
  
  @media screen and (max-width: 768px) {
    .video-background {
      background-size: contain;
    }
  }

  











  
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(90deg, #FC415A, #591BC5, #212335,rgb(10, 179, 236));
    background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top:5px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 0.2px  #D7D4E4;
    border-radius:50px;
    transform-origin: top  left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #15c5d9 ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 3s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 1s;
    left: 50vw;
    top: 10vh;
  }
  .cube:nth-child(7) {
    animation-delay: 2s;
    left: 40vw;
    top: 30vh;
  }
  .cube:nth-child(8) {
    animation-delay: 4s;
    left: 50vw;
    top: 10vh;
  }
  .cube:nth-child(4) {
    animation-delay: 1s;
    left: 90vw;
    top: 10vh;
  }
 
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    25%{
      background-position: 25% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }  